/node_modules
/public/hot
/public/storage
/public/product
/public/userImages
/public/Store
/public/banner
/public/recordings
/public/SuperCategory
/public/userImages
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
/vendor
/~
call_module/~
call_module/node_modules
